.users {
  height: calc(100% - 118px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    height: 100%;
    overflow: auto;
    animation: users 2s forwards;
    @include appearance(users);

    /* Hide scrollbar for IE, Edge, Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__message {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    animation: message 2s forwards;
    @include appearance(message);
  }

  .list-item {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-400;
    }

    &__content {
      display: flex;
      align-items: center;

      & > div {
        min-width: 180px;
        padding-right: 20px;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
        margin-right: 15px;
      }

      p {
        opacity: 0.8;
      }
    }

    &__action {
      display: inline-block;
      cursor: pointer;
      transition: 250ms;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
